* {
  box-sizing: border-box;
}

body {
  font-family: "Quantico", sans-serif;
  margin: 0;
}

h1,
h3,
p {
  color: rgba(45, 60, 73, 1.0);
}

h2 {
  color: rgba(125, 151, 173, 1.0);
  padding-left: 15px;
}

.img-responsive {
  margin: 0 auto;
}

.img_main {
  border-top: 5px solid rgba(125, 151, 173, 1.0);
  padding-top: 30px;
}

.logo {
  padding-top: 20px;
  margin-left: 0px;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 31px;
  }

  h3 {
    font-size: 19px;
  }

  h2 {
    font-size: 27px;
    text-align: center;
  }

  .logo {
    padding-top: 30px;
    width: 57px;
  }

  .img_p {
    width: 60%;
  }
}

@media screen and (max-width: 510px) {
  h1 {
    font-size: 26px;
  }

  h3 {
    font-size: 14px;
  }

  h2 {
    font-size: 21px;
  }

  .logo {
    padding-top: 30px;
    width: 40px;
  }
}
